<!DOCTYPE html>
<html>
  <head>
    <title>Tina Lee</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
    <script src="/static/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
  </head>
  <body>

    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Tina Lee</a>
	  </div>
	  
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <!--<li><a href = "/projects/canvas/index.html">Canvas</a></li>-->
	      <li><a href="/about.html">About</a></li>
	      <li><a href="https://github.com/l-tn3314">GitHub</a></li>
	    </ul>
	  </div> <!--navbar-collapse-->
	</div> <!--container-fluid-->
      </nav>
    </div>
  </body>
</html>
