<!DOCTYPE html>
<html>
  <head>
    <title>Tina Lee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <script src="//code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
    <script src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://gc.kis.scr.kaspersky-labs.com/1B74BD89-2A22-4B93-B451-1C9E1052A0EC/main.js" charset="UTF-8"></script>
  </head>
  <body>

    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Tina Lee</a>
	  </div>
	  
	  <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
	    <ul class="nav navbar-nav">
	      <li><a href="/about.html">About</a></li>
	      <li><a href="https://github.com/l-tn3314">GitHub</a></li>
	      <li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li><a href="https://github.com/l-tn3314/UFree">UFree</a></li>
		  <li><a href="https://github.com/l-tn3314/l-tn3314.github.io/tree/master/projects/weather">Weather</a></li>
		  <li><a href="/projects/canvas/index.html">Canvas</a></li>
		  <li><a href="/projects/invisible_tree/tree.html">Invisible Tree</a></li>
		  <li><a href="https://github.com/l-tn3314/l-tn3314.github.io/tree/master/projects/marionette/projects/marionette/templates/index.html">Marionette</a></li>
		  <li><a href="https://github.com/l-tn3314/l-tn3314.github.io/blob/master/projects/tetris/tetris.rkt">Tetris</a></li>
		  <li><a href="https://github.com/l-tn3314/l-tn3314.github.io/tree/master/projects/login">Login</a></li>
		</ul>
	      </li>
	    </ul>
	  </div> <!--navbar-collapse-->
	</div> <!--container-fluid-->
      </nav>

    {{content}}

    </div>
  </body>
</html>
